nav {
    background-color: #bcdff3;
    padding: 10px;
    margin: 30px;
}
nav a {padding: 2.5px; margin: 5px;}

.first {width: 30%;
    margin: 0 auto;
    padding: 15px;
}
.second {width: 70%;
    margin: 0 auto;
    padding: 8px;
}
footer {margin: 30px; padding: 10px;}

body {background-color: #ffffff; padding: 15px;}
div {padding: 10px; margin: 30px;}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.small {display: none;}

.firstmain {display: flex;}
.secondmain {display: flex;}
.one {flex: 2; order: 1;}
.two {flex: 2; order: 2;}
.nexttoone {flex: 2; order: 2;}
.nexttotwo {flex: 2; order: 1;}


@media only screen and (max-width: 800px) {
    nav a {
        display: block;
        text-align: left;
        width: 100%;
    }
    body {margin: 2px; padding: 2px;}
    .diya {text-align: center;}
    .first {text-align: center;}
    iframe {max-width: 100%; height: auto;}
    nav ul {flex-direction: column;}
    nav li {margin-right: 0; margin-bottom: 5px;}
    .large {display: none;}
    .small {display: block;}
    .hi {display: flex; flex-direction: column; align-items: center;}
    .bye {flex-wrap: wrap;}
    .top {display: flex; flex-direction: column; align-items: center;}
    .middle {display: flex; flex-direction: column; align-items: center;}
    .bottom {display: flex; flex-direction: column; align-items: center;}
    .firstmain {display: flex; flex-direction: column; align-items: center;}
    .secondmain {display: flex; flex-direction: column; align-items: center;}
    img {max-width: 100%; height: auto;}
    .bye {display: flex; flex-direction: column; align-items: center;}

}
