nav {
    background-color: #bcdff3;
    padding: 10px;
    margin: 30px;
}
nav a {padding: 2.5px; margin: 5px;}

.first {width: 30%;
    margin: 0 auto;
    padding: 15px;
}
.second {width: 70%;
    margin: 0 auto;
    padding: 8px;
}
footer {margin: 30px; padding: 10px;}

body {background-color: #ffffff; padding: 15px;}
div {padding: 10px; margin: 30px;}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.small {display: none;}

@media only screen and (max-width: 800px) {
    nav a {
        display: block;
        text-align: left;
        width: 100%;
    }
    .diya {text-align: center;}
    .first {text-align: center;}
    iframe {padding: 0px; margin: 1px;}
    body {padding: 0px; margin: 1px;}
    nav ul {flex-direction: column;}
    nav li {margin-right: 0; margin-bottom: 5px;}
    .large {display: none;}
    .small {display: block;}
    .hi {flex-wrap: wrap;}
    .bye {flex-wrap: wrap;}
    .firstmain {flex-wrap: wrap; align-content: center;}
    .secondmain {flex-wrap: wrap;}
    .top {flex-wrap: wrap;}
    .middle {flex-wrap: wrap;}
    .bottom {flex-wrap: wrap;}
}
