nav {display: flex;
    justify-content: space-around;
    background-color: #add8e6;
    padding: 10px;
    margin: 30px;
}
nav a {padding: 2.5px; margin: 5px;}

.first {width: 30%;
    margin: 0 auto;
    padding: 15px;
}
.second {width: 70%;
    margin: 0 auto;
    padding: 8px;
}

body {background-color: #ffffff; padding: 15px;}
div {padding: 10px; margin: 30px;}

@media only screen and (max-width: 786px) {
    nav a {display: block;
        max-width: 100%;
    }
    nav span {display: none;}
@media only screen and (min-width: px) {
}
