
nav {background-color: #F5DE9F};
a {color: #ED051A;}
nav a {color: #0000FF;}
nav a:hover {background-color: #DE21B5;}
head{color:#000000;}
body{
    color: #110303;
    background-color: #FFFFFF
}
nav{
    padding: 10px;
    margin: 30px;
} 
.div1, .div2, .div3, .div4 {margin: 10px;}
.div1 {flex: 1; order 1; background-color: ; border-radius: 1em;}
.div2 {flex: 1; order 2; background-color: ; border-radius: 1em;}