
nav {background-color: #F5DE9F};
a {color: #ED051A;}
nav a {color: #0000FF;}
nav a:hover {background-color: #DE21B5;}
head{color:#000000;}
body{
    color: #110303;
    background-color: #D2F2F7
}
nav{
    padding: 10px;
    margin: 30px;
} 
.img1 {float: left; margin-right: 10px;}
            .clear {clear: both;}

            .part2 {display: flex;}
            .article1, .article2, .article3 {margin: 10px}
            .article1 {flex: 2; order 3; background-color: #cce5ff; border-radius: 1em;}
            .article2 {flex: 1; order 2;}
            .article3 {flex: 1; order 1;}

            .p2 {float: right;}