body {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-color: beige;
h1 {
    color: darkblue;
    font-size: 2em;
}
h2 {
    color: darkblue;
    font-size: 1.5em;
}
.special {background-color:purple}
.evenrow {background-color: pink;}