body {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-color: beige;
h1, h2 {color: darkblue;}
.special{background-color:purple}
.evenrow{background-color: pink;}
